.heading-primary-main {
  display: block;
  font-size: 18px;
  font-weight: 400;

  animation-name: movesInLeft;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  margin-top: 12px;
  display: block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 10px;

  animation-name: movesInRight;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}
.showMore {
  display: block;
}

.showMore2 {
  display: block;
}
.hideShowMore {
  display: none;
}
@media (max-width: 999px) {
  .showMore {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .showMore2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .hideShowMore {
    display: block;
  }
}
